*{
    font-family: "pingfang sc";
}

body {
    color: greenyellow;
}

h1 {
    color: red!important;
}
h2 {
    color: blue;
}

.box{
    width: 500px;
    height: 500px;
    background-color: rgb(255, 128, 234);
    border: 3px solid black;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 8px;

    margin: 15px;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 8px;
    margin-right: 9px;

    padding: 20px 19px 18px 17px;
    margin: 30px 29px 28px 27px;
}

body{
    background:url(锦瑟.jpg)
}